body {
 	background-color: #f8f7f7;
  margin: 0 0 100px;
}
html {
  position: relative;
  min-height: 100%;
}

.about{
  color: #2b3034;
  font-weight: 500;
  line-height: 1.1;
  font-size: 30px;
}

.highlight {
 	color: #2882b5;
}
 
.footer-section {
 	background-color: #2b3034;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.copyright {
  color: #fff;
 	text-align: center;
}

.content {
  z-index: 1;
  position: relative;
}

.content > .cont_area {
  position: relative;
  background: #f8f7f7;
  min-height: 500px;
  z-index: 4;
}
.content .line {
  text-align: center;
  position: relative;
  margin: 30px 0 20px;
}

.content .line h2 {
  font-weight: 300; 
  display: inline-block;
  background: #f8f7f7;
  z-index: 2; 
  position: relative; 
  padding: 0 53px; 
  font-size: 60px; 
  text-shadow: 2px 2px 0px #fff; 
  color: #2b3034; 
}

.content .line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 26px;
  border-bottom: 1px dashed #2b3034;
  height: 1px;
  width: 100%;
  z-index: 1;
}

.sidebar {
    margin-top: 30px;
}

.card-space{
  margin-bottom: 20px;
}

.sidebar .side_rec_area {
  z-index: 2;
  position: relative;
  margin-bottom: 15px;
  background: #2b3034;
  padding-bottom: 1px;
}

.sidebar .side_rec_area .side_title {
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  color: #fff;
  font-size: 24px;
  padding: 10px 10px 10px 20px;
  background: rgba(255,255,255,0.05);
  line-height: 28px;
}

.sidebar .side_rec_area .side_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-bottom: 1px dashed rgba(255,255,255,0.3);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 3px 12px 3px;
  z-index: 2;
}
.sidebar .side_rec_area .side_item .img {
  height: 40px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}
.sidebar .side_rec_area a {
  text-decoration: none !important;
}
.sidebar .side_rec_area .side_item .title {
    padding: 0 10px;
    color: #f2b43c;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    line-height: 19px;
    text-align: left;
    font-size: 16px;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    height: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: background 0.4s linear;
    transition: background 0.4s linear;
}

a {
  color: #f2b43c;
}

.row .col-sm-3{
 	padding-bottom: 20px;
}

.section-about {
 	margin-top: 30px;
}

.link-button {
	color: #fff;
}
.popular-section h4 {
  padding: 20px 0px 20px 0px;
}

.m-x-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.form {
  max-width: 380px;
  margin-top: -25px;
}

.signin-text {
  color: #2b3034;
}

.card{
	padding: 30px;
  background-color: #fff;
}

button.signin-btn {
  background-color: #2b3034;
  width: 100%;
  margin-bottom: 1.2rem;
}
#footer-below {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  text-align: center;
}
#headline{
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  padding-left: 10px;
}
.headline{
  color: #fff;
}

#Recipe-header{
  background-color: #2882b5;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  padding-left: 10px;
}
.product-box{
  margin-bottom: 30px;
  margin-right: 10px
}

.jumbotron.profile{
  background-color: #fff;
  margin-top: 20px;
}
.fix {
  margin-bottom: 10px;
  color: #fff;
}
#anchor1:hover,#anchor2:hover,#anchor3:hover{
  text-decoration: none;
  color: #fff;
}

.recipe-card{
  margin-bottom: 10px;
}

h6 a{
  color:#fff;
}

.section-popular {
  margin-top: 30px;
  background-color: #2882b5;
  margin-bottom: 20px;
}

.section-recipes{
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile-preword h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}

.profile-preword span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}

.profile-preword {
  background-color: #2882b5;
  border-radius: 5px;
  color: #fff;
}

.profile-list li {
  background-color: #2882b5;
  height: 29px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile-list .title {
  color: #fff;
  font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative
}
.profile-list .cont {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
}

.border-recipes {
  border: 2px solid #fff;
}

.horizontal {
  border-left: 3px solid #000;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px; 
}

.move-image{
  text-align: center
}

.recipe-details {
  margin-top: 20px;
  margin-bottom: 20px;
}


li{
  list-style: none;
}

#remove-link{
  text-decoration: none;
}
h4{
  font-family: 'Satisfy', cursive;
}

#signup-btn {
  color: #f2b43c;
  text-decoration: none;
  text-decoration-color: #FFF;
}

.button-color{
  background-color: #5CB85C;
  color: #fff;
}