body {
 	background-color: #f5f8fa;
}

.about{
  color:#2882b5;
  font-weight: 500;
  line-height: 1.1;
  font-size: 30px;
}

.highlight {
 	color: #2882b5;
}
 
.footer-section {
 	background-color: #2882b5;
}

.copyright {
  color: #fff;
 	text-align: center;
}

.row .col-sm-3{
 	padding-bottom: 20px;
}

.section-about {
 	margin-top: 30px;
}

.link-button {
	color: #fff;
}
.popular-section h4 {
  padding: 20px 0px 20px 0px;
}


.formy{
	width: 30%;
  margin: 25px auto;
}

.container.sign-container {
  margin-top: 8%;
}

.card.sign-card {
	padding: 40px 0px 20px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5)
}

form.sign-form {
  max-width: 350px;
  margin: auto;
}
button.signin-btn {
  color: #ffffff;
  background-color: #2882b5;
  width: 100%;
  margin-bottom: 1.2rem;
}
#footer-below {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 25px 0;
  text-align: center;
}
#headline{
  color: #fff;
}
.headline{
  color: #fff;
}

#Recipe-header{
  background-color: #2882b5;
  color: #fff;
}
.product-box{
  margin-bottom: 30px;
  margin-right: 10px
}

.jumbotron.profile{
  background-color: #fff;
  margin-top: 20px;
}
.fix {
  margin-bottom: 10px;
  color: #fff;
}
#anchor1:hover,#anchor2:hover,#anchor3:hover{
  text-decoration: none;
  color: #fff;
}

.recipe-card{
  margin-bottom: 10px;
}

h6 a{
  color:#fff;
}

.section-popular {
  margin-top: 30px;
  background-color: #2882b5;
  margin-bottom: 20px;
}

.section-recipes{
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile-preword h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}

.profile-preword span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}

.profile-preword {
  background-color: #2882b5;
  border-radius: 5px;
  color: #fff;
}

.profile-list li {
  background-color: #2882b5;
  height: 29px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile-list .title {
  color: #fff;
  font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative
}
.profile-list .cont {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
}

.border-recipes {
  border: 2px solid #fff;
}

.horizontal {
  border-left: 3px solid #000;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px; 
}

.move-image{
  text-align: center
}

.recipe-details {
  margin-top: 20px;
  margin-bottom: 20px;
}


li{
  list-style: none;
}

#signin-btn {
  color: #fff;
  text-decoration: none;
  text-decoration-color: #FFF;
}

#signup-btn {
  color: #fff;
  text-decoration: none;
  text-decoration-color: #FFF;
}