/* eslint-disable */
$white-color: #fff;
$vote-color: #2b3035;
$vote-background-color: #f2b43c;

body {
  background-color: #f8f7f7 !important;
  margin: 0 0 100px !important;
  font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Tinos', 'Times New Roman', Times, serif !important;
}

html {
  position: relative;
  min-height: 100%;
}

.about {
  color: #2b3034;
  font-weight: 500;
  line-height: 1.1;
  font-size: 30px;
}

.footer-section {
  background-color: #2b3034;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.copyright {
  color: #fff;
  text-align: center;
}

.content {
  z-index: 1;
  position: relative;
  margin-top: 70px;
  padding-bottom: 20px;
}

.fav-btn {
  border-radius: 80px;
  text-align: center;
}

.content>.cont_area {
  position: relative;
  background: #f8f7f7;
  min-height: 500px;
  z-index: 4;
}

.content .line {
  text-align: center;
  position: relative;
  margin: 30px 0 20px;
}

.content .line h2 {
  font-weight: 300;
  display: inline-block;
  background: #f8f7f7;
  z-index: 2;
  position: relative;
  padding: 0 53px;
  font-size: 60px;
  text-shadow: 2px 2px 0px #fff;
  color: #2b3034;
}

.content .line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 26px;
  border-bottom: 1px dashed #2b3034;
  height: 1px;
  width: 100%;
  z-index: 1;
}

.sidebar {
  margin-top: 30px;
}

.card-space {
  margin-bottom: 20px;
}

.sticky-paginate {
  position: absolute;
    bottom: 0;
    width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.sidebar .side_rec_area {
  z-index: 2;
  position: relative;
  margin-bottom: 15px;
  background: #2b3034;
  padding-bottom: 1px;
}

.sidebar .side_rec_area .side_title {
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  color: #fff;
  font-size: 24px;
  padding: 10px 10px 10px 20px;
  background: rgba(255, 255, 255, 0.05);
  line-height: 28px;
}

.sidebar .side_rec_area .side_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 3px 12px 3px;
  z-index: 2;
}

.sidebar .side_rec_area .side_item .img {
  height: 40px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

.sidebar .side_rec_area a {
  text-decoration: none !important;
}

.sidebar .side_rec_area .side_item .title {
  text-transform: capitalize;
  padding: 0 10px;
  color: #f2b43c;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  line-height: 19px;
  text-align: left;
  font-size: 16px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background 0.4s linear;
  transition: background 0.4s linear;
}

.row .col-sm-3 {
  padding-bottom: 20px;
}

.section-about {
  margin-top: 30px;
}

.link-button {
  color: $white-color;
}
.custom-active {
  background-color: #2b3034;
  color: #f2b43c;
}

.paginate-section {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}


.popular-section h4 {
  padding: 20px 0px 20px 0px;
}

#ww {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
}

.centered {
  text-align: center;
}

.card-title {
  font-size: 1.5rem
}

.m-x-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.cal-big {
  font: 50px;
  color: #fff;
  display: block;
}

.form {
  max-width: 380px;
  margin-top: -25px;
}

.signin-text {
  color: #2b3034;
}

.card {
  background-color: $white-color;
  padding: 30px;
}
.card-title{
  font-size: 23px;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-card {
  height: 400px !important;
}

.page-item .active {
  background-color: #2b3034
}

.my-recipe-img {
  height: 180px;
}

.recipe-card-img {
  height: 100% !important;
}

button.signin-btn {
  background-color: #2b3034;
  width: 100%;
  margin-bottom: 1.2rem;
}

#footer-below {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  text-align: center;
  margin-bottom: -30px;
}

#headline {
  color: #fff;
  padding-left: 10px;
}

.headline {
  color: #fff;
}

.vote-button {
  background-color: $vote-background-color;
  color: $vote-color;
}

.edit-btn {
  background-color: #2b3034;
  color: #fff;
}

#landing-header {
  position: relative;
  text-align: center;
  z-index: 1;
}

#landing-header h1 {
  color: $white-color;
  font-size: 50px;
  font-weight: 700;
}

.product-box {
  margin-bottom: 30px;
  margin-right: 10px
}

.jumbotron.profile {
  background-color: #fff;
  margin-top: 20px;
}

.fix {
  margin-bottom: 10px;
  color: #fff;
}

#anchor1:hover,
#anchor2:hover,
#anchor3:hover {
  text-decoration: none;
  color: #fff;
}

.recipe-card {
  margin-bottom: 10px;
}

h6 a {
  color: $white-color;
}

.section-popular {
  background-color: #2b3034;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.section-recipes {
  margin-top: 30px;
  margin-bottom: 20px;
}

.section-reviews{
  border-radius: 5px;
  color: #fff;
}

.centered {
  text-align: center;
  font-weight: 200;
}

.review-list {
  list-style: none;
}

.profile-preword h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}

.profile-preword span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}

.profile-list .title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative
}

.profile-list .cont {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
}

.border-recipes {
  border: 2px solid #fff;
}

.horizontal {
  border-left: 3px solid #000;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.move-image {
  text-align: center
}

.recipe-details {
  margin-top: 80px;
  margin-bottom: 20px;
}

.card-body h4 {
  text-align: center;
  font-size: 40px;
}


#remove-link {
  text-decoration: none;
  color: #2b3034;
}


#signup-btn {
  color: #f2b43c;
  text-decoration: none;
  text-decoration-color: #FFF;
}

.button-color {
  background-color: #5CB85C;
  color: #fff;
}